<%= form_with(model: url, local: true) do |form| %>

  <div class="field">
    <%= form.label :long %>
    <%= form.text_field :long, id: :url_long %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>